<div class="container d-flex mt-5">
    <div class="card card-body m-auto col-8">
        <form
          #form="ngForm"
          (ngSubmit)="onSearch(form)"
        >
            <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter nickname"
                  [(ngModel)]="nickname"
                  name="nickname"
                  #nickName="ngModel"
                  (keyup)="showContinueBtn = false"
                  required
                >
            </div>
            <button [disabled]="form.invalid" *ngIf="!showContinueBtn" class="btn btn-primary btn-block">Search</button>
            <button *ngIf="showContinueBtn" class="btn btn-primary btn-block" routerLink='/info'>Get info about {{ user.login }}</button>
            <p *ngIf="searchingUser" class="mt-2 mb-2 text-center">
                Please wait...
            </p>
        </form>
    </div>
</div>
