<div class="container d-flex mt-5" *ngIf="!error_flag">
  <div class="card m-auto" style="width: 20rem;">
    <img class="card-img-top" [attr.src]="user.avatar_url" alt="Card image cap">
    <div class="card-block text-center mt-3 mb-3">
      <h4 class="card-title">{{user.login}}</h4>
      <p class="card-text">Public repos: {{user.public_repos}}</p>
      <a [attr.href]="user.html_url" class="btn btn-primary">Link to profile</a>
    </div>
  </div>
</div>
<div class="text-center mt-5" *ngIf="error_flag">
  <h2>No info about user</h2>
</div>
